* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --font-titles: 'Paytone One', sans-serif;
    --font-text: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.icons-material-primary {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;

  font-size: 20px;
  color: #3c435a;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

body {
    font-family: var(--font-text);
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-titles);
    font-weight: 400;
    line-height: 1.2;
}

body {
    line-height: 1.6;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0px;
}

/* Header */
header {
    background-color: #d4d4d4;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 66px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo-link:hover .logo {
    transform: scale(1.05);
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav ul li:hover {
    transform: translateY(-2px);
}

nav ul li a {
    color: #3c435a;
    /*color: #f5f5f5;*/
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d4a74b;
    cursor: pointer;
}

/* Commons to sections*/
.section {
    color: #3c435a;
    padding: 40px 0;
    text-align: center;
    scroll-margin-top: 100px;
}

.white-bg {
    background-color: #FFFFFF;
}

.section h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.talktome-button {
    display: inline-flex;
    background-color: #3c435a;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    font-size: 1.4rem;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.talktome-button:hover {
    background-color: #d4a74b;
}

/* Init Section */
.init {
    padding: 150px 0 40px;
}

.init .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.init-content {
    flex: 1;
    padding-right: 40px;
}

.init-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3c435a;
}

.init-content .subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #7a7a7a;
}

.init-image {
    flex: 1;
}

.init-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
}

/* How I Help Section */
.howihelp-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding-bottom: 40px;
}

.howihelp-card {
    padding: 30px;
    border-radius: 10px;
    background-color: #f5f5f5;
    transition: transform 0.3s;
}

.howihelp-card:hover {
    transform: translateY(-10px);
}

.howihelp-icon {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Services Section */
.services h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #3c435a;
}

.services-grid {
    display: flex;
    gap: 30px;
    padding-bottom: 40px;
    justify-content: center;
    margin: 0 auto;
}

.service-card {
    background: #FFFFFF;
    min-width: 262px;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.service-card h3 {
    color: #2c3e50;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.service-card p {
    color: #7A7A7A;
    line-height: 1.2;
}

/* About Me Section */
.aboutme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 30px;
}

.aboutme-image img {
    width: 73%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
}

.aboutme-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.aboutme-texts h3{
    font-size: 1.5rem;
}

.certifications {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

/* FAQ Section */
.accordions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
}

.accordion-item {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.accordion-header {
    width: 100%;
    background: none;
    border: none;
    padding: 20px 30px;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
    font-weight: 600;
    color: #3c435a;
}

.accordion-header:hover {
    background-color: #f8f8f8;
}

.accordion-icon {
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s ease;
    color: #3c435a;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: #FFFFFF;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.accordion-content p {
    padding: 0 30px;
    line-height: 1.6;
    color: #7A7A7A;
}

.accordion-item.active .accordion-header {
    background-color: #3c435a;
    color: #FFFFFF;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.accordion-item.active .accordion-icon {
    transform: rotate(45deg);
    color: #FFFFFF;
}

.accordion-item.active .accordion-content {
    max-height: 200px;
    padding: 20px 0;
    text-align: left;
}

/* Footer */
footer {
    background-color: #d4d4d4;
    color: #3c435a;
}

footer a {
    color: inherit
}

footer a:hover {
    color: #d4a74b;
    cursor: pointer;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contacts {
    font-weight: 600;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
}

footer .contacts-list {
    display: flex;
    flex-direction: row;
}

footer .contact {
    display: flex;
    flex-direction: row;
    padding-right: 16px;
    text-decoration: none;
}

.icons-footer {
    padding-right: 4px;
}

.footer-copy {
    padding-top: 8px;
    text-align: center;
}

/* Responsible screen */
@media (max-width: 768px) {
    /* Header section */
    header {
        padding: 0px;
    }

    header .container {
        flex-direction: column;
        justify-content: space-between;
    }

    nav ul {
        margin-top: 5px;
    }

    nav ul li {
        margin-left: 8px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .contact-menu{
        display: none;
    }

    /* Init section */
    .init .container {
        flex-direction: column;
    }

    .init-content {
        padding-right: 0;
        margin-bottom: 40px;
        text-align: center;
    }

    /* Services section */
    .services-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }

    /* About me section */
    .aboutme {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-right: 0;
    }

    .aboutme-texts {
        text-align: center;
    }

    /* Footer section */
    footer .contacts-list {
        display: flex;
        flex-direction: column;
    }
}